@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body, html {
    height: calc(100%);
    margin: 0;
    font-family: 'Oswald';
}

body {
    display: grid;
    grid-template-columns: 15% auto;
    padding: 0em;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,333333+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #000000 0%, #333333 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #000000 0%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #000000 0%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar {
    display: grid;
    background: #fff;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #330000;
    grid-template-columns: auto;
    grid-template-rows: 20% auto;
    padding: 0;
}

.clearfix{
    clear:both
}

.mainview {

    padding: 0;
}

.websitelogo {
    text-align: center;
    width: 4em;
    cursor: pointer;
    padding: 1.5em 0em 3em 0em;
    margin: 0em;
}

.sidebaritem{
    text-decoration: none;
    display: block;
    font-size: 2em;
    color: #FFF;
    margin: 0;
    background-color: rgba(153,0,0,.14);
    border-radius: 6px;
}

.loopkitname{
    font-size: 3em;
    color: #FFF;
    padding: 0.4em 0em 0em 0em;
    margin: 0em;
}

ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0em 0em;
}

.loopkitlogodiv{
    padding: 0em 0em 0em 1em;
    width:5%;
    margin-right:2%;
    float: left;
}

.loopkitlogodiv img{
    width: 3em;
    padding: 1.5em 0em 0em 0em;
    margin: 0em;
}

.loopkitnamediv{
    padding: 0em;
    margin: 0em;
    width:40%;
    float: left;
}

.rectangleundername{
    width:40%;
    height:0.3em;
    border:1px;
    background-color: #990000;
    border-radius: 6px;
}

main {
    padding: 4em;
    margin: 0em 0em 0em 1.5em;
}

.sidebaritem:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.loopkitdescription p{
    font-size: 1.7em;
    color: #FFF;
    padding: 1.75em 0em 0em 0em;
    margin: 0em;
}

.loopkitterms p{
    font-size: 1em;
    color: #FFF;
    margin: 0em 0em 0em 0em;
}

.loopkitterms h1{
    font-size: 1em;
    color: #FFF;
    margin: 1.2em 0em 0em 0em;
}

.downloadbutton{
    display: inline-block;
    color: #fff;
    background: #990000;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 3em 0;
}

figure{
    padding: 0em;
    margin: 0em;
}